insole {

  .legend{
    position: absolute;
    right: -45px;
    top: 75%;
    margin-top: -200px;
  }
  .contour{
     margin-top: 40px;
  }
  canvas{
    clip-path: url(#footprint);
  }

  canvas.right{
    clip-path: url(#footprint-right);
  }

}

insole.right {
  .legend{
    right: auto;
    left: 0px;
  }
}