<div #insole class="contour">
    <canvas #canvas ></canvas>
</div>
<div #legend_svg class="legend">
</div>
<svg height="0" width="0">
    <defs>
        <path id="thePathL" transform="translate(0, -0.03)" d="m0.46403,1.02473c0.02008,-0.0041 0.03897,-0.00895 0.05665,-0.01429c0.01769,-0.00535 0.03416,-0.01119 0.04944,-0.01729c0.01527,-0.0061 0.02933,-0.01244 0.04217,-0.0188c0.01284,-0.00635 0.02446,-0.0127 0.03487,-0.01881c0.0104,-0.00611 0.01957,-0.00791 0.03272,-0.02038c0.01314,-0.01247 0.01465,-0.01228 0.01752,-0.02047c0.00286,-0.0082 0.0097,-0.0258 0.00747,-0.04344c-0.00222,-0.01763 -0.00082,-0.02742 -0.00272,-0.0498c-0.00192,-0.02238 -0.00359,-0.04485 -0.00454,-0.06183c-0.00096,-0.01697 -0.00119,-0.02844 -0.00023,-0.02882c-0.00192,0.00075 0.00287,-0.02872 0.00861,-0.05856c0.00574,-0.02984 0.01243,-0.06005 0.01434,-0.06079c-0.00382,0.00149 0.10327,-0.15069 0.1071,-0.15218c-0.00382,0.00149 0.09715,-0.06105 0.14153,-0.12085c0.04438,-0.0598 0.04085,-0.11577 0.04223,-0.14472c0.00138,-0.02895 -0.013,-0.08139 -0.07666,-0.11339c-0.06366,-0.03199 -0.14243,-0.04333 -0.2295,-0.03879c-0.08707,0.00454 -0.17977,0.02537 -0.17977,0.02537l-0.16448,0.04924c-0.18037,0.07196 -0.26285,0.11283 -0.27984,0.2676c0.05738,0.28197 0.01591,0.3635 0.01973,0.36201c-0.00382,0.00149 -0.01147,0.07608 -0.00765,0.07459c-0.00382,0.00149 0.01147,0.08206 0.0153,0.08057c-0.00382,0.00149 0.02677,0.05819 0.0306,0.0567c-0.00382,0.00149 0.07268,0.04326 0.0765,0.04177c-0.00382,0.00149 0.11092,0.02238 0.11475,0.02089l0.14153,0.00447" />
        <path id="thePathR" transform="translate(1.05, -0.03),scale(-1, 1)" d="m0.46403,1.02473c0.02008,-0.0041 0.03897,-0.00895 0.05665,-0.01429c0.01769,-0.00535 0.03416,-0.01119 0.04944,-0.01729c0.01527,-0.0061 0.02933,-0.01244 0.04217,-0.0188c0.01284,-0.00635 0.02446,-0.0127 0.03487,-0.01881c0.0104,-0.00611 0.01957,-0.00791 0.03272,-0.02038c0.01314,-0.01247 0.01465,-0.01228 0.01752,-0.02047c0.00286,-0.0082 0.0097,-0.0258 0.00747,-0.04344c-0.00222,-0.01763 -0.00082,-0.02742 -0.00272,-0.0498c-0.00192,-0.02238 -0.00359,-0.04485 -0.00454,-0.06183c-0.00096,-0.01697 -0.00119,-0.02844 -0.00023,-0.02882c-0.00192,0.00075 0.00287,-0.02872 0.00861,-0.05856c0.00574,-0.02984 0.01243,-0.06005 0.01434,-0.06079c-0.00382,0.00149 0.10327,-0.15069 0.1071,-0.15218c-0.00382,0.00149 0.09715,-0.06105 0.14153,-0.12085c0.04438,-0.0598 0.04085,-0.11577 0.04223,-0.14472c0.00138,-0.02895 -0.013,-0.08139 -0.07666,-0.11339c-0.06366,-0.03199 -0.14243,-0.04333 -0.2295,-0.03879c-0.08707,0.00454 -0.17977,0.02537 -0.17977,0.02537l-0.16448,0.04924c-0.18037,0.07196 -0.26285,0.11283 -0.27984,0.2676c0.05738,0.28197 0.01591,0.3635 0.01973,0.36201c-0.00382,0.00149 -0.01147,0.07608 -0.00765,0.07459c-0.00382,0.00149 0.01147,0.08206 0.0153,0.08057c-0.00382,0.00149 0.02677,0.05819 0.0306,0.0567c-0.00382,0.00149 0.07268,0.04326 0.0765,0.04177c-0.00382,0.00149 0.11092,0.02238 0.11475,0.02089l0.14153,0.00447" />
    </defs>
    <clipPath id="footprint" clipPathUnits="objectBoundingBox" >
        <use xlink:href="#thePathL"/>
    </clipPath>
    <clipPath id="footprint-right" clipPathUnits="objectBoundingBox" >
        <use xlink:href="#thePathR"/>
    </clipPath>
</svg>