barchart {
  .bar {
    fill: steelblue;
  }

  .bar:hover {
    fill: brown;
  }

  .axis--x path {
    display: none;
  }
  svg{
    overflow: visible !important;
  }
  text.value{
    font-size: 1.2rem;
    text-align: center;
  }
}
