<!-- Generated template for the WeightShiftComponent component -->
<div class="full">
  <ion-grid>
    <ion-row>
      <ion-col #container col-sm-6 class="charts-gauge" >
        <span>Body weight</span>
        <ngx-charts-gauge
          [view] = "gauge_view"
          [results]="gauge"
          [max] = 120
          [angleSpan]="240"
          [startAngle]="-120"
          [units]="'Kg'"
          [bigSegments]="10"
          [smallSegments]="5"
          [valueFormatting] = valueFormatting
          [animations] = "false"
        >
        </ngx-charts-gauge>
      </ion-col>
      <ion-col col-sm-6>
        <ngx-charts-bar-vertical
          [view]="bar_view"
          [results]="weight_LR"
          [gradient]="false"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="false"
          [xAxisLabel]="'Foot balance'"
          [yAxisLabel]="'Kg'"
          [legend]="false"
          [yScaleMax]="60"
          [animations] = "false"
        >
        </ngx-charts-bar-vertical>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
