page-insoles {
  ion-slides,
  .slide-zoom {
    height: 100%;
  }
  .grid,
  .row,
  .contour,
  .full{
    background: transparent; height: 100%
  }

  .info{
    position: absolute;
    width: 10rem;
    bottom: 1rem;
    font-size: 1.2rem;
    text-align: left;
    span{
      display: block;
    }
  }
  .info.left{
    left: 0rem;
  }
  .info.right{
    right: 0rem;
    text-align: right;
  }

  .sum{
    position: absolute;
    font-size: 1.5rem;
    top: 0;
    text-align: center;
    width: 100%;
  }

  .hide-legend{
    .legend{
      display: none;
    }
  }

  .add-padding{
    padding: 15px;
  }

}
